.page-header {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: url(../img/header-back.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	padding: 25px 0;
	position: relative;
	overflow: hidden;
	

	@media(min-width: $screen-md) {
		margin-top: 80px;
	}

	&::before {
		display: block;
		content: "";
		position: absolute;
		width: 210px;
		//width: 528px;
		height: 100%;
		background: url("../img/left.png") no-repeat;
		background-position: center left;
		background-size: 100%;
		z-index: 5;
		left: -100px;
		top: 0px;

		@media(min-width: $screen-md) {
			left: -50px;
			width: 200px;
		}

		@media(min-width: $screen-lg) {
			left: 0;
			width: 250px;
		}
	}

	&::after {
		display: block;
		content: "";
		position: absolute;
		width: 210px;
		//width: 528px;
		height: 100%;
		background: url("../img/right.png") no-repeat;
		background-position: center right;
		background-size: 100%;
		z-index: 5;
		right: -100px;
		top: 0px;

		@media(min-width: $screen-md) {
			right: -50px;
			width: 200px;

		}

		@media(min-width: $screen-lg) {
			right: 0;
			width: 250px;

		}
	}

}